@page "/"
@model Chirp.Razor.Pages.PublicModel
@using Chirp.Razor.Pages
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_PaginationLayout";
    var routeName = ViewContext.HttpContext.GetRouteValue("author");
    Author? author = await UserManager.GetUserAsync(User);

    bool isLeaderboard = Model.Sorting == "MostLiked";
    
    IEnumerable<CheepDTO> cheepList = Model.Cheeps;
    IEnumerable<CheepDTO> cheepTop3 = Model.Cheeps.Take(3);
    string[] cheepTop3Medals = {"gold", "silver", "bronze"};

    if (isLeaderboard) cheepList = cheepList.Skip(3);
    int i = 0;
}

<div>
    <h2> Public Timeline </h2>
    <partial name="_sortingDropdown" />
    <partial name="_SubmitMessage" />

    <p>@ViewData["Error"]</p>
    @if (Model.Cheeps.Any())
    {
        @if (isLeaderboard) {
            <h3>Top 3</h3>
            <div id="oat-container">
                @foreach(var cheep in cheepTop3) {
                    var medal = cheepTop3Medals[i];

                    <div class="cheep-oat @(medal)">
                        <img src="images/chirp-@(medal).png" />
                        <div class="cheep-oat-body">
                            <strong>
                                <span>#@(i+1) | </span>
                                <a href="/@Uri.EscapeDataString(cheep.Author)">@cheep.Author</a>
                            </strong>

                            <p>
                                @cheep.Message
                                <br />
                                <small>&mdash; @cheep.Timestamp</small>
                            </p>
                            @if (SignInManager.IsSignedIn(User) && !cheep.Author.Equals(author!.Name))
                            {
                                bool isFollowing = await Model.IsFollowing(author!.Name, cheep.Author);
                                var followStr = isFollowing ? "unfollow" : "follow";
                                <form class="form-inline" asp-page-handler="ToggleFollow" asp-route-idol="@cheep.Author" method="post">
                                    <button class="cool-btn @(isFollowing ? "following" : "")" type="submit">@followStr</button>
                                </form>
                            }
                            @{
                                bool hasLiked = cheep.UserHasLiked;
                                <form class="form-inline like-btn-form" asp-page-handler="Like" asp-route-id="@cheep.CheepId" method="post">
                                    <button class="cool-btn @(hasLiked ? "liked" : "")" type="submit" disabled=@(!SignInManager.IsSignedIn(User))>
                                        <span class="like-btn-text">@(hasLiked ? "liked!" : "like")</span> |
                                        <span class="like-btn-counter">@cheep.LikeCounter</span>
                                    </button>
                                </form>
                            }
                        </div>
                    </div>
                    
                    i++;
                }
            </div>
            <h3>Runners-up</h3>
        }
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in cheepList)
            {
                <li>
                    <strong>
                        <a href="/@Uri.EscapeDataString(cheep.Author)">@cheep.Author</a>
                    </strong>
                    <p>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                    @if (SignInManager.IsSignedIn(User) && !cheep.Author.Equals(author!.Name))
                    {
                        bool isFollowing = await Model.IsFollowing(author!.Name, cheep.Author);
                        var followStr = isFollowing ? "unfollow" : "follow";
                        <form class="form-inline" asp-page-handler="ToggleFollow" asp-route-idol="@cheep.Author" method="post">
                            <button class="cool-btn @(isFollowing ? "following" : "")" type="submit">@followStr</button>
                        </form>
                    }
                    @{
                        bool hasLiked = cheep.UserHasLiked;
                        <form class="form-inline like-btn-form" asp-page-handler="Like" asp-route-id="@cheep.CheepId" method="post">
                            <button class="cool-btn @(hasLiked ? "liked" : "")" type="submit" disabled=@(!SignInManager.IsSignedIn(User))>
                                <span class="like-btn-text">@(hasLiked ? "liked!" : "like")</span> |
                                <span class="like-btn-counter">@cheep.LikeCounter</span>
                            </button>
                        </form>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
@section Scripts {
    <script src="~/js/script.js"></script>
}