@page "/"
@model Chirp.Razor.Pages.PublicModel
@using Chirp.Razor.Pages
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_PaginationLayout";
    var routeName = ViewContext.HttpContext.GetRouteValue("author");
}

<div>
    <h2> Public Timeline </h2>
    <partial name="_SubmitMessage" />

    <form method="get">
        <label for="sorting">Sort by</label>
        <select name="sorting" id="sorting" onchange="this.form.submit()">
            <option value="Newest" selected="@("Newest" == Model.Sorting)">Newest</option>
            <option value="MostLiked" selected="@("MostLiked" == Model.Sorting)">Most liked</option>
        </select>
    </form>

    <p>@ViewData["Error"]</p>
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@Uri.EscapeDataString(cheep.Author)">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button id="likeBtn-@cheep.CheepId" type="button" class="like-btn @(cheep.UserHasLiked ? "liked" : "")"
                                data-id="@cheep.CheepId" data-hasLiked="@cheep.UserHasLiked">
                                @(cheep.UserHasLiked ? "Unlike" : "Like")
                            </button>
                        }
                        <span id="likeCount-@cheep.CheepId">@cheep.LikeCounter</span>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".like-btn").forEach(btn => {
                btn.addEventListener("click", function () {
                    let id = this.dataset.id;
                    let currentText = document.getElementById("likeBtn-" + id).textContent

                    fetch(`?handler=Like&id=${id}`, {
                        method: "POST",
                        headers: {
                            "RequestVerificationToken":
                                document.querySelector('input[name="__RequestVerificationToken"]').value
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            // update like count in UI
                            document.getElementById("likeCount-" + id).textContent = data.likeCount;
                            document.getElementById("likeBtn-" + id).textContent = (currentText.includes("Like", 0) ? "Unlike" : "Like"); //inverses what current state is
                        });
                    //document.getElementById("likeBtn-" + id).textContent = (currentText.includes("Like", 0) ? "Unlike" : "Like"); //inverses what current state is 
                });
            });
        });
    </script>
}