@page "/{author}"
@model Chirp.Razor.Pages.PublicModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Author> SignInManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_PaginationLayout";
    var routeName = ViewContext.HttpContext.GetRouteValue("author");
}
<div>
    <h2> @routeName's Timeline </h2>
    <partial name="_SubmitMessage" />
    <partial name="_sortingDropdown" />
    <p>@ViewData["Error"]</p>
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@Uri.EscapeDataString(cheep.Author)">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button id="likeBtn-@cheep.CheepId" type="button" class="like-btn @(cheep.UserHasLiked ? "liked" : "")"
                                data-id="@cheep.CheepId" data-url="?handler=Like">
                                @(cheep.UserHasLiked ? "Unlike" : "Like")
                            </button>
                        }
                        <span id="likeCount-@cheep.CheepId">@cheep.LikeCounter</span>
                        <span>Likes</span>
                    <form method="post">
                        @Html.AntiForgeryToken() <!--honestly not sure if i do this right-->
                    </form>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
@section Scripts {
    <script src="~/js/script.js"></script>
}