@page "/{author}"
@model Chirp.Razor.Pages.PublicModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_PaginationLayout";
    var routeName = ViewContext.HttpContext.GetRouteValue("author");
    Author? author = await UserManager.GetUserAsync(User);
}

<div>
    <div class="flex-heading">
        <h2> @routeName's Timeline </h2>
        <partial name="_sortingDropdown" />
    </div>
    <partial name="_SubmitMessage" />
    <p>@ViewData["Error"]</p>
    @if (Model.Cheeps != null && Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <strong>
                        <a href="/@Uri.EscapeDataString(cheep.Author)">@cheep.Author</a>
                    </strong>
                    <p>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                    @if (SignInManager.IsSignedIn(User) && !cheep.Author.Equals(author!.Name))
                    {
                        bool isFollowing = await Model.IsFollowing(author!.Name, cheep.Author);
                        var followStr = isFollowing ? "unfollow" : "follow";
                        <form class="form-inline" asp-page-handler="ToggleFollow" asp-route-idol="@cheep.Author" method="post">
                            <button class="cool-btn @(isFollowing ? "following" : "")" type="submit">@followStr</button>
                        </form>
                    }
                    @{
                        bool hasLiked = cheep.UserHasLiked;
                        <form class="form-inline like-btn-form" asp-page-handler="Like" asp-route-id="@cheep.CheepId" method="post">
                            <button class="cool-btn @(hasLiked ? "liked" : "")" type="submit" disabled=@(!SignInManager.IsSignedIn(User))>
                                <span class="like-btn-text">@(hasLiked ? "liked!" : "like")</span> |
                                <span class="like-btn-counter">@cheep.LikeCounter</span>
                            </button>
                        </form>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
@section Scripts {
    <script src="~/js/script.js"></script>
}