@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Your account contains personal data that you have given us. This page allows you to view, download or delete that data.</p>
        <p>
            <strong>Clicking 'Forget me!' will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Forget me!</a>
        </p>

        <br />
        <hr />

        <h3>Your information</h3>
        @if (Model.PersonalData.Any())
        {
            <table id="personal-data">
                <tr>
                    <th>Information</th>
                    <th>Value</th>
                </tr>
                @foreach (var entry in Model.PersonalData)
                {
                    <tr>
                        <td>@entry.Key</td>
                        <td>@entry.Value</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <em>Could not retrieve personal information.</em>
        }
        <h3>Your follows</h3>
        @if (Model.Follows.Any()) {
            <ul>
                @foreach (string f in Model.Follows)
                {
                    <li>
                        <strong>
                            <a href="/@Uri.EscapeDataString(f)">@f</a>
                        </strong>
                    </li>
                }
            </ul>
        } else {
            <em>You are not following anyone.</em>
        }
        <h3>Your cheeps</h3>
        @if (Model.Cheeps.Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@Uri.EscapeDataString(cheep.Author)">@cheep.Author</a>
                            </strong>
                            @cheep.Message
                            <small>&mdash; @cheep.Timestamp</small>
                        </p>
                    </li>
                }
            </ul>
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
